body{

    background: #dae0e5
}

h1{
    font-family: sans-serif;
    color: #FF0404;
    text-align: center;
}

.formfield{
    font-style: normal;
    color: #FC6011;
}

input{
    border-radius: 15px;
    width: 323.38px;
    border:none;
    height: 38px;
    top:230px;
    text-align:center;
    
}


#botao {
    width: 323.38px;
    background: #FC6011;
    border-radius: 15px;
    border:none;
    height: 38px;
    top:250px;
    color: #ffff;
    font-size: 15px;
   
    
}


h2{
    width: 350px;
    top:285px;
    font-size: 12px;
    color: #FC6011;
    text-transform: capitalize;
    text-align: center;

}    
