fieldset{

    border: 0;
}
body{

    background: #F0F5F9
}
h1{
    
        font-family: sans-serif;
        color: #FF0404;
        margin-left: 7%;
        text-align: center;
}

.campoEmailCpf{

    font-style: normal;
    color: #FC6011;
    text-align: left -15px;
}
.campoSenha{
    font-style: normal;
    color: #FC6011;
    text-align: left;
}
#nome{
    
    height: 38px;
    width: 323px;
    left: 15px;
    top: 301px;
    border-radius: 15px;

}


input{

    border-radius: 15px;
    width: 323.38px;
    border:none;
    height: 38px;
    top:230px;
    
}


#botao {
    position: absolute;
    width: 323.38px;
    background: #FC6011;
    border-radius: 15px;
    border:none;
    height: 38px;
    left: 20px;
    top:250px;
    color: #ffff;
    font-size: 15px;
   
    
}


h2{
    width: 350px;
    top:285px;
    font-size: 12px;
    color: #FC6011;
    position: absolute;
    text-transform: capitalize;
    text-align: center;

}    
