*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #FC6011;
    position: relative;
}
img {
    display: flex;
    margin: auto;
    margin-top: 50%;
}
footer{
    text-align: center;
    color: #ffff;
    margin-top: 60%;
}